.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    padding: 10px;
    margin-top: 30px;
    position: absolute;

    top: 235px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    background-color: transparent;
}


.filter {
    width: 180px;
    text-align: left;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .searchBar {
        margin-top: 20px;
        width: 160px;
        padding: 7px;
        font-size: 13px;
    }

    .filter {
        width: 140px;
    }
}

.buttonSection {
    display: flex;
    flex-direction: column;
}