.searchBar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}

.filter {
    width: 180px;
    text-align: left;
    cursor: pointer;
}

#applyButton {
    background-color: #4eb5f1;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
}

#applyButton:hover {
    background-color: #4095c6;
}