.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
    position: absolute;
    top: 10px;
}

.filter {
    width: 180px;
    text-align: left;
    cursor: pointer;
}

.buttonSection {
    display: flex;
    flex-direction: column;
}