.detailPage {
    display: flex;
    flex-direction: column;
    background-color: black;
}


.detailSection {
    background-color: orange;
    margin-left: 50px;
    border-radius: 15px;
    /* background-color: grey;
    margin: 50px;
    height: 100%;
    width: 100%; */

    /* background-color: grey;
    margin: 50px;
    height: 100%;
    width: 100%; */
}


.myCarousel {
    width: 70%;
    margin: auto;
}

.contact {
    font-size: 2em;
    color: white;
    font-family: "Times New Roman";
}

.info {
    margin: 5px;
    border-radius: 15px;
    /*background-color: orange;*/


    color: #fff;
}

.pastPrice {
    border-radius: 15px;
    background-color: orange;
    margin: 5px;

    font-size: 2em;
    font-family: "Times New Roman";
    color: #fff;
}

.review-title {
    color: white;
    font-size: 2em;
    font-family: "Times New Roman";
}

.reviews {
    margin: 5px;
    height: 300px;
    overflow: scroll;
    border-radius: 15px;
    background-color: orange;
    color: white;
    font-size: 2em;
    font-family: "Times New Roman";
}

.review {
    margin: 5px;
    padding: 5px;
    left: 100px;
    background-color: orange;
    border-radius: 15px;
    font-family: "Times New Roman";
    /*text-align: left;*/

}

.review p {
    margin: 5px;
    border-radius: 15px;
    background-color: orange;
}