.detailPage {
    display: flex;
    flex-direction: row;
}


.detailSection {
    background-color: grey;
    margin: 50px;
    height: 100%;
    width: 100%;
}

.carouselWrapper {
    margin: 50px;
}

.myCarousel {
    width: 700px;
    height: 600px;
}

.info {
    margin: 5px;
    border-radius: 15px;
    background-color: white;
}

.pastPrice {
    border-radius: 15px;
    background-color: white;
    margin: 5px;
}

.reviews {
    margin: 5px;
    height: 300px;
    overflow: scroll;
    border-radius: 15px;
    background-color: white;
}

.review {
    margin: 5px;
    padding: 5px;
    background-color: grey;
    border-radius: 15px;
}

.review p {
    margin: 5px;
    border-radius: 15px;
    background-color: white;
}