.detailPage {
    display: flex;
    flex-direction: row;
}


.detailSection {
    background-color: grey;
    margin-left: 50px;
}

.carouselWrapper{
    margin: auto;
}

.myCarousel{
    width: 500px;
    height: 500px;
}

.info {
    margin: 5px;
    border-radius: 15px;
    background-color: white;
}

.pastPrice {
    border-radius: 15px;
    background-color: white;
    margin: 5px;
}

.reviews {
    margin: 5px;
    height: 300px;
    overflow: scroll;
    border-radius: 15px;
    background-color: white;
}

.review {
    margin: 5px;
    padding: 5px;
    background-color: grey;
    border-radius: 15px;
}

.review p {
    margin: 5px;
    border-radius: 15px;
    background-color: white;
}