.searchPage {
    /*display: flex;*/
    /*flex-direction: column;*/
    background-color: black;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}



.navigation {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation ::after{
    content:"GO GO GO";
    position: absolute;
    left: 0;
    bottom:10px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navigation :hover::after{
    transform: scaleX(1);
}

.contentPage {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-size: contain;
    background: url("../components/Geisel_Library_2.jpg") no-repeat center;
    /*background-color: black;*/
}


.button {
    width: 150px;
    background-color: #4eb5f1;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    margin: 5px 15px;
}

.button:hover {
    background-color: #4095c6;
}

.navBar {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: auto;
}