.searchPage {
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: hidden;
    background: url("../../public/images/Geisel_Library_2.jpg") no-repeat center;
    background-size: cover;
    font-style: italic;
}


header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-style: normal;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.empty {
    height: 1300px;
}


.navigation {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation ::after {
    content: "GO GO GO";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation :hover::after {
    transform: scaleX(1);
}

.contentPage {
    /*.searchSection {*/
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-size: contain;

}

.button {
    width: 150px;
    background-color: #4eb5f1;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    margin: 5px 15px;
    font-style: italic;
}


.button:hover {
    background-color: #4095c6;
}

.navBar {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: auto;
}

@media screen and (max-width: 1300px) {
    .button {
        width: 110px;
        font-size: 13px;
    }

    .navBar {
        width: 30%;
    }
}