.searchSection {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.button {
    width: 150px;
    background-color: #4eb5f1;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    margin: 5px 15px;
}

.button:hover {
    background-color: #4095c6;
}

.navBar {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: auto;
}